<!DOCTYPE html>
<head>
  <title>
    {{ block "title" .}} {{ .Site.Title }} | {{ .Page.Title }} {{ end }}
  </title>
  <link rel="stylesheet" type="text/css" href={{ "normalize.css" | relURL }} />
  <link rel="stylesheet" type="text/css" href={{ "site.css" | relURL }} />
</head>
<body>
  <div class="container">
    <header>
      <h1 class="logo">SAREX 2019</h1>
      <nav>
        <p>More information coming soon.</p>
      </nav>
    </header>
    {{ block "main" . }}{{ end }}
    <footer>
      <div class="badges">
        <img class="marin-sar-badges" title="Marin SAR logos" src={{ "mra_badges.png" | relURL }}></img>
        <img class="sheriff-badge" title="Marin Sheriff badge" src={{ "sheriff_badge.png" | relURL }}></img>
      </div>
      <p>
        Hosted by Marin Search and Rescue
      </p>
    </footer>
  </div>
</body>
