---
---

@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:700,700i');

:root {
  --font-display: 'Fira Sans Condensed', sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  --blue-1: #f6fffe;
  --blue-2: #d9eaf3;
  --blue-4: #96ccff;
  --blue-6: #357edd;
  --blue-7: #00449e;
  --blue-9: #001b44;

  --gray-0: #fafafa;
  --gray-1: #ecf0f1;
  --gray-2: #bdc3c7;
  --gray-3: #95a5a6;
  --gray-4: #7f8c8d;
  --gray-5: #34495e;
  --gray-7: #2c3e50;
  --gray-8: #1b242d;
  --gray-9: #000000;

  --red-1: #ffdfdf;
  --red-3: #ff725c;
  --red-6: #ff4136;
  --red-9: #e7040f;

  --yellow-1: #fffceb;
  --yellow-3: #fbf1a9;
  --yellow-6: #ffde37;
  --yellow-7: #ffb700;
  --yellow-8: #ff6300;

  --green-1: #e8fdf5;
  --green-2: #deedd9;
  --green-3: #c7e4ca;
  --green-6: #19a974;
  --green-8: #137752;
}

body {
  font-family: var(--font-body);
  font-size: 18px; color: var(--blue-9);
  background-image: url('/assets/images/topo.png');
  background-size: 400px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.row.jc-e {
  justify-content: flex-end;
}

.row.jc-c {
  justify-content: center;
}

.row.jc-s {
  justify-content: flex-start;
}

.row.ai-s {
  align-items: flex-start;
}

.row.ai-c {
  align-items: center;
}

.row.ai-e {
  align-items: flex-end;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 700;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

button,
input {
  border-radius: 4px;
  background: var(--blue-0);
  border: 2px solid var(--blue-9);
  padding: 8px;
}

input[type='email'] {
  background: white;
}

button,
input[type='submit'] {
  font-family: var(--font-display);
  font-weight: bold;
  background: var(--green-8);
  color: var(--gray-0);
  border: none;
}

button:hover,
input[type='submit']:hover {
  transition: 0.15s;
  background: var(--green-6);
}

a {
  text-decoration: none;
  color: var(--green-8);
  font-weight: 700;
  position: relative;
  padding-bottom: 8px;
}

a:hover {
  color: var(--green-6);
}

p {
  line-height: 140%;
}

hr {
  border-style: none;
  border-bottom: 1px solid var(--gray-3);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}


header .logo img {
  width: 150px;
}

header nav {
  display: flex;
  margin-left: 25px;
}

@media (max-width: 800px) {
  header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header nav a {
  display: block;
  margin: 10px 0 10px 25px;
  padding-bottom: 4px;
}

header nav a.active {
  border-bottom: 4px solid var(--green-8);
  margin-bottom: 6px;
}

header nav a:hover {
  border-bottom: 4px solid var(--green-6);
  margin-bottom: 6px;
}

footer {
  margin-top: 40px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .sheriff-badge {
  margin-left: 15px;
}

footer .oes-badge {
  height: 90px;
  margin-left: 15px;
}

footer p {
  font-weight: bold;
  /* font-style: italic; */
  color: var(--gray-6);
  margin-left: 60px;
}

.alert {
  background: var(--blue-2);
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--blue-4);
  text-align: center;
  margin-bottom: 25px;

  span {
    font-weight: bold;
    color: var(--blue-9);
    margin-right: 5px;
    font-variant: all-small-caps;
  }
}

.home .alert {
  margin: 0 0 30px 0;
}

.home .well {
  padding: 30px;
}

.home .splash {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .home .splash .slideshow {
    display: none;
  }
}

.home .splash .slideshow {
  padding: 0;
  margin: 0;
  flex: 1 1 0;
  margin-right: 20px;
  position: relative;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.home .splash .slideshow li {
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  animation: fade-out 1s;
}

.home .splash .slideshow li.active {
  opacity: 1;
  position: relative;
  overflow: hidden;
  animation: fade-in 1s;
}

.home .splash .blurb {
  flex: 1 1 0;
  margin-left: 20px;
}

.home .splash .blurb .break {
  width: 60px;
  height: 3px;
  margin: 30px 0;
  background-color: var(--green-8);
}

.home .splash .blurb form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home .splash .blurb form .form-group input {
  margin-left: 10px;
  flex: 1 1 0;
}

.home .splash .blurb form input[type='submit'] {
  width: 100%;
}

.home .splash .blurb p:first-child {
  margin-top: 0;
}

.home h2 {
  margin-top: 70px;
  margin-bottom: 40px;
  z-index: 2;
  position: relative;
  display: inline-block;
}

.home h2:before {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green-3);
  z-index: -1;
}

.home .keynote .blurb {
  flex: 1 1 50%;
  margin-right: 50px;
}

.home .keynote .blurb p:first-child {
  margin-top: 0;
}

.home .keynote img {
  height: 350px;
}

@media (max-width: 900px) {
  .home .keynote .bio-and-picture {
    flex-direction: column;
  }

  .home .keynote .blurb {
    order: 1;
    margin-right: 0;
    margin-top: 30px;
  }
}

.track {
  padding: 10px 15px;
  background: var(--gray-1);
  border-radius: 2px;
  box-shadow: 0px 1px 2px #c1c1c1;
  margin-bottom: 25px;
}

.track-header {
  display: flex;
  align-items: center;
}

.track-title {
  margin-right: 8px;
  font-weight: bold;
  text-shadow: 1px 1px 0 var(--gray-0);
  font-size: 20px;
}

.track-affiliate {
  display: inline-flex;
  font-size: 14px;
  background: var(--green-2);
  color: var(--gray-8);
  padding: 3px 5px;
  margin: 2px;
  border-radius: 2px;
  flex-wrap: wrap;
}

.track-affiliate-affiliation:before {
  content: ", ";
}

.track-affiliate-affiliation {
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.track-course {
  margin: 30px 0;
}

.track .track-course:last-child {
  margin-bottom: 10px;
}

.track-course-title, .track-course-instructors {
  margin-bottom: 5px;
}

.track-course-instructors {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
}

.track-course-details-toggle {
  text-decoration: none;
  color: var(--green-8);
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.track-course-details-toggle:hover {
  color: var(--green-6);
}

.track-course-details {
  margin-top: 15px;
  margin-bottom: 10px;
  display: none;
  padding-left: 10px;
  border-left: 3px solid var(--green-6);
  font-size: 14px;
}

.track-course-details.active {
  display: inherit;
}

.home .location {
  text-align: center;
}

.home .location img {
  margin: 30px 0;
  width: 600px;
  max-width: 100%;
}

.rfp-page {
  display: flex;
  justify-content: center;
}

.location-page img {
  max-width: 100%;
  margin: 0 auto 20px auto;
}

.well {
  background: #f9f8f8;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #c1c1c1;
}

.page.well {
  padding-top: 15px;
}

.sponsor-page hr {
  margin: 30px 0;
}
