.logo-grid {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--margin-f) / 2));
  grid-row-gap: var(--margin-g);
  grid-column-gap: var(--margin-f);
  margin: var(--margin-e) 0;
}

.logo-grid__image {
  display: block;
  height: 200px;
}

.logo-grid__image img {
  object-fit: contain !important;
}
