@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:700,700i');

:root {
  --font-display: 'Fira Sans Condensed', sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;

  --blue-1: #f6fffe;
  --blue-2: #cdecff;
  --blue-4: #96ccff;
  --blue-6: #357edd;
  --blue-7: #00449e;
  --blue-9: #001b44;

  --gray-0: #fafafa;
  --gray-1: #ecf0f1;
  --gray-2: #bdc3c7;
  --gray-3: #95a5a6;
  --gray-4: #7f8c8d;
  --gray-5: #34495e;
  --gray-7: #2c3e50;
  --gray-9: #000000;

  --red-1: #ffdfdf;
  --red-3: #ff725c;
  --red-6: #ff4136;
  --red-9: #e7040f;

  --yellow-1: #fffceb;
  --yellow-3: #fbf1a9;
  --yellow-6: #ffde37;
  --yellow-7: #ffb700;
  --yellow-8: #ff6300;

  --green-1: #e8fdf5;
  --green-3: #9eebcf;
  --green-6: #19a974;
  --green-8: #137752;
}

body {
  font-family: var(--font-body);
  font-size: 18px;
  color: var(--blue-9);
  background-image: url('/topo.png');
  background-repeat: both;
  background-size: 400px;
  background-opacity: 0.3;
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  .one-third.column {
    width: 30.6666666667%;
  }
  .two-thirds.column {
    width: 65.3333333333%;
  }

  .one-half.column {
    width: 48%;
  }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 700;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

button,
input {
  border-radius: 4px;
  background: var(--blue-0);
  border: 2px solid var(--blue-9);
  padding: 8px;
}

input[type='email'] {
  background: white;
}

button,
input[type='submit'] {
  font-family: var(--font-display);
  font-weight: bold;
  background: var(--green-8);
  color: var(--gray-0);
  border: none;
}

button:hover,
input[type='submit']:hover {
  transition: 0.15s;
  background: var(--green-6);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  color: var(--gray-5);
  font-style: italic;
  /* font-weight: bold; */
}

section.splash {
}

section.splash img {
  margin-right: 60px;
}

.blurb {
  margin-top: 25px;
}

.blurb .break {
  width: 60px;
  height: 3px;
  margin: 30px 0;
  background-color: var(--green-8);
}

.blurb form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.blurb form .form-group input {
  margin-left: 10px;
  flex: 1 1 0;
}

.blurb form input[type='submit'] {
  width: 100%;
}

.blurb p:first-child {
  margin-top: 0;
}

footer {
  margin-top: 40px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .sheriff-badge {
  margin-left: 15px;
}

footer p {
  font-weight: bold;
  /* font-style: italic; */
  color: var(--gray-6);
  margin-left: 60px;
}
