<!DOCTYPE html>
<head>
  <title>
    {{ page.title }}
  </title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/site.css" />
</head>
<body>
  <div class="container">
    <header class="site-header">
      <div class="logo"><a title="Home" href="/"><img src="/assets/images/logo.png" title="SAREX 2019 Logo"></img></a></div>
      <nav>
        <a href="/" title="Home" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
        <a href="/tracks" title="Tracks" {% if page.url == "/tracks.html" %}class="active"{% endif %}>Schedule/Classes</a>
        <a href="/lodging" title="Lodging & Meals" {% if page.url == "/lodging.html" %}class="active"{% endif %}>Lodging/Meals</a>
        <a href="/location" title="Location" {% if page.url == "/location.html" %}class="active"{% endif %}>Location</a>
        <a href="/faq" title="FAQ" {% if page.url == "/faq.html" %}class="active"{% endif %}>FAQ</a>
        <a href="/vendors" title="Vendors" {% if page.url == "/vendors.html" %}class="active"{% endif %}>Vendors</a>
        <a href="/sponsors" title="Sponsors" {% if page.url == "/sponsors.html" %}class="active"{% endif %}>Sponsors</a>
        <a href="/register" title="Register" {% if page.url == "/register.html" %}class="active"{% endif %}>Register</a>
      </nav>
    </header>
    {{ content }}
    <footer class="site-footer">
      <div class="badges">
        <img class="marin-badges" title="Marin SAR logo" src="/assets/images/marin_badge.png"></img>
        <img class="sheriff-badge" title="Marin Sheriff badge" src="/assets/images/sheriff_badge.png"></img>
        <img class="oes-badge" title="Cal OES" src="/assets/images/oes.png"></img>
      </div>
      <p>
        Hosted by Marin County Sheriff’s Search and Rescue
      </p>
    </footer>
  </div>
</body>
