<!DOCTYPE html>
<head>
  <title>
    {{ page.title }}
  </title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/site.css" />
</head>
<body>
  <div class="container">
    <header>
      <h1 class="logo">SAREX 2019</h1>
      <nav>
        <p>More information coming soon.</p>
      </nav>
    </header>
    {{ content }}
    <footer>
      <div class="badges">
        <img class="marin-badges" title="Marin SAR logo" src="/assets/images/marin_badge.png"></img>
        <img class="sheriff-badge" title="Marin Sheriff badge" src="/assets/images/sheriff_badge.png"></img>
        <img class="oes-badge" title="Cal OES" src="/assets/images/oes.png"></img>
      </div>
      <p>
        Hosted by Marin County Sheriff’s Search and Rescue
      </p>
    </footer>
  </div>
</body>
